* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #FFF;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.lists {
    margin-top: -150px;
}

footer {
    margin: 50px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #FFF;
    transition: all ease 0.2s;
}

footer a:hover {
    font-weight: bold;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}